{% extends 'base.html' %}

{% block body %}
<main class="md:w-[80%] w-[92%] mx-auto md:px-20 md:py-20 pt-5">
    <div class="md:flex flex-wrap justify-around bg-[#FFBD5F] md:px-20 md:py-20 py-5 md:rounded-xl">
        <div class="mb-4">
            
            <article class="md:w-[80%] w-[92%] mx-auto bg-white p-6 rounded-lg shadow-lg">
                <h1 class="text-3xl font-bold mb-4">Quais as formas que você pode ajudar?</h1>
                <p class="mb-4">Se você chegou aqui, deve ser porque está explorando o site todo ou porque realmente quer saber como retribuir. O que posso te dizer é que há duas formas de contribuir, e vou explicar cada uma delas:</p>
                
                <h2 class="text-2xl font-semibold mb-4">1. Doação</h2>
                <p class="mb-4">As doações ajudam a custear valores de hospedagem e manutenção do projeto, possíveis upgrades de armazenamento e também podem contribuir para meus estudos enquanto não entro no mercado de trabalho.</p>
                
                <h2 class="text-2xl font-semibold mb-4">2. Melhorias no Projeto</h2>
                <p class="mb-4">O repositório do GitHub estará disponível para qualquer desenvolvedor que queira participar do projeto. Você pode ajudar com novas soluções, implementações ou até mesmo como um participante ativo.</p>
                
                <p class="mb-4">Essas são as duas principais formas de contribuir com o projeto. Se você sabe de mais alguma maneira que possa sugerir, ficarei feliz em analisar com todo o carinho. Entre em contato comigo pelo e-mail: <a href="mailto:dimitri.limaf@gmail.com" class="text-blue-500 hover:underline">dimitri.limaf@gmail.com</a>.</p>
            </article>
        </div>
        <div class="flex flex-row justify-around items-center gap-[10vw]">
            <div class="md:flex flex flex-col md:items-center justify-items-center gap-4">
                <img src="https://api.qrserver.com/v1/create-qr-code/?size=300x300&data=chave" class="w-40" alt="QR Code para Doações">
                <!-- Texto escondido (mas acessível) -->
                <p class="textoParaCopiar visually-hidden" style="display: none;">00020126580014BR.GOV.BCB.PIX01368b67ea6d-f7c8-43d9-a6e5-70d9dc50ec415204000053039865802BR5925Yuri Dimitri Ribeiro Lima6005Natal62070503***63048839</p>
                <button onclick="copiarTexto(this)" class="botao-copiar bg-[#B54343] text-white px-5 py-2 rounded-full hover:bg-[#B543ff]">
                    Copiar Chave Pix
                </button>
            </div>
            
            <div class="md:flex flex flex-col md:items-center justify-items-center gap-4">
                <img src="https://api.qrserver.com/v1/create-qr-code/?size=300x300&data=https://github.com/yurilimadev" class="w-40" alt="QR Code do GitHub">
                <p class="textoParaCopiar visually-hidden" style="display: none;">https://github.com/yurilimadev</p>
                <button onclick="copiarTexto(this)" class="botao-copiar bg-[#B54343] text-white px-5 py-2 rounded-full hover:bg-[#B543ff]">
                    Copiar Link Git
                </button>
            </div>
        </div>
    </div>
</main>

<footer class="bg-[#000] text-white flex-col text-center bottom-0 w-full">
    © 2025 Muralize. Todos os direitos reservados.
</footer>

<div id="customAlert" class="hidden p-4 mb-4 text-sm rounded-lg fixed top-5 right-5 w-80">
    <span class="font-medium"></span><span id="alertMessage"></span>
</div>

<script>
function copiarTexto(botaoClicado) {
  const texto = botaoClicado.previousElementSibling;
  const alertElement = document.getElementById("customAlert");
  const alertMessage = document.getElementById("alertMessage");

  navigator.clipboard.writeText(texto.innerText)
    .then(() => {
      alertElement.className = "p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 fixed top-5 right-5 w-80";
      alertElement.querySelector('.font-medium').textContent = "Sucesso! ";
      alertMessage.textContent = "Texto copiado para a área de transferência.";
      alertElement.classList.remove("hidden");
      
      setTimeout(() => {
        alertElement.classList.add("hidden");
      }, 3000);
    })
    .catch((err) => {
      alertElement.className = "p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 fixed top-5 right-5 w-80";
      alertElement.querySelector('.font-medium').textContent = "Erro! ";
      alertMessage.textContent = "Não foi possível copiar o texto.";
      alertElement.classList.remove("hidden");
      
      setTimeout(() => {
        alertElement.classList.add("hidden");
      }, 3000);
    });
}
</script>




{% endblock %}