{% extends 'base.html' %}

{% block body %}

<main class="w-[92%] mx-auto">
    <section class="bg-[#FFBD5F]">
        <div class="flex flex-col justify-between items-center px-20 py-20">
            <h1 class="text-3xl">Eu precisa fazer alguma coisa...</h1>
            <!--Big Ideia: Contar sua história pode fazer bem -->
            <p>
                PREMISSA 1
            </p>
            <p>
                PREMISSA 2
            </p>
            <p>
                PREMISSA 3
            </p>
            <p>
                PREMISSA 4
            </p>
            <p>
                PREMISSA 5
            </p>
            <p>
                CONCLUSÃO
            </p>
        </div>
        
    </section>
    
    
</main>
<!--Rodapé-->
<footer>
    
</footer>

{% endblock %}