
<div class="grid md:grid-cols-4 gap-6 flex-wrap w-[92%] mx-auto ">
    {% for depoimento in depoimentos %}
    <div class="depoimento shadow-lg hover:scale-105 transition-all duration-300 ease-in-out">
        <img src="" alt="">
        <h1 class="text-2xl">{{ depoimento.titulo }}</h1>
        <p class="text-sm text-[#b2b2b2]">{{ depoimento.estado }} - {{ depoimento.idade }} anos - {{ depoimento.sexo }}</p>
        <div class="bg-[#e3e3e3] mx-4 my-4">
            <p class="truncate w-64 md:w-auto">
                {{ depoimento.depoimento | truncate(150, True) }}
            </p>
        </div>
        <div class="flex items-center gap-6">
            <button class="bg-[#a6c1ee] text-white px-5 py-2 rounded-full hover:bg-[#87acec]" onclick="openModal('{{ depoimento.id }}')">
                Ver Mais
            </button>
        </div>
        
        <dialog id="textModal-{{ depoimento.id }}" class="rounded-lg p-6 w-1/2 max-w-lg bg-white shadow-lg">
            <h2 class="text-xl font-bold mb-4">Texto Completo</h2>
            <p>
                {{ depoimento.depoimento }}
            </p>
            <button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" onclick="closeModal('{{ depoimento.id }}')">
                Fechar
            </button>
        </dialog>
    </div>
    {% endfor %}
</div>        
