{% extends 'base.html' %}

{% block body %}


<!--Corpo-->
<main class="mx-auto">
    
    <section class="bg-[#FFBD5F]">
        <div class="flex flex-col justify-between items-center px-20 py-20">
            <h1 class="text-3xl font-bold">Marque na internet a sua história</h1>
            <p>Escreva seu depoimento sobre às Bets(casas de apostas) ou sobre sua experiência sobre 
                a escala 6x1! Faça isso de forma totalmente anônima. As únicas informações que pedidos são 
                o estado, genero e idade. Com essa informações podemos ter uma estimativa da situações que 
                esses estratos demográficos estão passando. 
            </p>
            <div  class="flex items-center gap-6">
                <button id="form-botao" class="bg-[#B54343] text-white px-5 py-2 rounded-full hover:bg-[#B543ff]">Contar minha história!</button>
            </div>
            <dialog class="relative form-depo w-96 p-6 shadow-lg bg-white rounded-md">
                <form action="{{ url_for('index') }}" method="POST" novalidate>
                    <h1 class="text-2xl">Conte para a internet a sua experiência</h1>
                    {{ form_depoimento.hidden_tag() }}
                    
                    <!-- Sexo -->
                    <div class="mb-4">
                        {{ form_depoimento.assunto.label(class_="block text-gray-700") }}
                        {{ form_depoimento.assunto(class_="flex gap-4") }}
                        {% for error in form_depoimento.assunto.errors %}
                            <p class="text-red-500 text-sm">{{ error }}</p>
                        {% endfor %}
                    </div>
                    
                    <!-- Título -->
                    <div class="mb-4">
                        {{ form_depoimento.titulo.label(class_="block text-gray-700") }}
                        {{ form_depoimento.titulo(class_="border border-gray-300 rounded w-full px-3 py-2") }}
                        {% for error in form_depoimento.titulo.errors %}
                            <p class="text-red-500 text-sm">{{ error }}</p>
                        {% endfor %}
                    </div>
        
                    <!-- Idade -->
                    <div class="mb-4">
                        {{ form_depoimento.idade.label(class_="block text-gray-700") }}
                        {{ form_depoimento.idade(class_="border border-gray-300 rounded w-full px-3 py-2") }}
                        {% for error in form_depoimento.idade.errors %}
                            <p class="text-red-500 text-sm">{{ error }}</p>
                        {% endfor %}
                    </div>
        
                    <!-- Sexo -->
                    <div class="mb-4">
                        {{ form_depoimento.sexo.label(class_="block text-gray-700") }}
                        {{ form_depoimento.sexo(class_="flex gap-4") }}
                        {% for error in form_depoimento.sexo.errors %}
                            <p class="text-red-500 text-sm">{{ error }}</p>
                        {% endfor %}
                    </div>
        
                    <!-- Estado -->
                    <div class="mb-4">
                        {{ form_depoimento.estado.label(class_="block text-gray-700") }}
                        {{ form_depoimento.estado(class_="border border-gray-300 rounded w-full px-3 py-2") }}
                        {% for error in form_depoimento.estado.errors %}
                            <p class="text-red-500 text-sm">{{ error }}</p>
                        {% endfor %}
                    </div>
        
                    <!-- Depoimento -->
                    <div class="mb-4">
                        {{ form_depoimento.depoimento.label(class_="block text-gray-700") }}
                        {{ form_depoimento.depoimento(class_="border border-gray-300 rounded w-full px-3 py-2") }}
                        {% for error in form_depoimento.depoimento.errors %}
                            <p class="text-red-500 text-sm">{{ error }}</p>
                        {% endfor %}
                    </div>
        
                    <!-- Botão -->
                    <div class="flex items-center gap-6">
                        {{ form_depoimento.submit(class_="bg-[#B54343] hover:bg-[#B543ff] text-white px-5 py-2 rounded") }}
                    </div>
                    
                </form>
                
                <div class="absolute top-0 right-0 items-center gap-6">
                    <button class="close-form bg-[#B54343] text-white px-5 py-2 rounded-full hover:bg-[#B543ff]">X</button>
                    
                </div>
            </dialog>
            
        </div>
        
    </section>
    <section class="flex flex-col items-center my-4 py-5">
        <div>
            <h1 class="text-3xl text-white font-bold">Veja os depoimentos.</h1>
            <p class="text-sm text-[#FFFFFF]">(Escolha qualquer um dos tópicos abaixo)</p>
        </div>
       
        <div class="flex gap-6">
            <div class="flex items-center gap-6">
                <button id="seis-por-um" class="bg-[#B54343] text-white px-5 py-2 rounded-full hover:bg-[#B543ff]">6 x 1</button>
                
            </div>
            <div class="flex items-center gap-6">
                <button id="bets" class="bg-[#B54343] text-white px-5 py-2 rounded-full hover:bg-[#B543ff]">Bets</button>
                
            </div>
        </div>
        
        
    </section>
    <section class="w-[92%] mt-10 mx-auto">
        <!--Mockup Depoimento-->
        <div id="area-depoimento">
            
                
        </div>
    </section>
    
</main>
<!--Rodapé-->
<footer class="bg-[#000] text-white flex-col text-center fixed bottom-0 w-full">
    Todos os direitos reservados - Yuri Dimitri Ribeiro Lima - 2025
</footer>

{% endblock %}