{% extends 'base.html' %}

{% block body %}

<main class="md:w-[80%] w-[92%] mx-auto md:px-20 md:py-20 pt-5">
    <section class="bg-[#FFBD5F] md:rounded-xl">
        <div class="flex flex-col justify-between items-center md:items-start px-5 py-5 md:px-20 md:py-20 gap-6 ">
            <article class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-lg">
                <h1 class="text-3xl font-bold mb-4">Eu não posso fazer tudo sozinho, mas precisava fazer alguma coisa.</h1>
                <p class="mb-4">Estive refletindo sobre como podemos esquecer um fato que nos trouxe tanta desgraça. Nos últimos anos, vivenciamos:</p>
                <ul class="mb-4 list-disc ml-4">
                    <li>Enchentes no Rio Grande do Sul</li>
                    <li>Violência</li> 
                    <li>Crescimento das casas de apostas</li> 
                    <li>Tentativas de retrocesso na saúde da mulher</li> 
                    <li>Levante de ideologias de extrema direita</li> 
                    <li>Por fim, a pauta da escala 6x1</li> 
                </ul>
                <p class="mb-4">E ainda há outros fatos que aconteceram aqui no Brasil que não vou citar para não tomar muito tempo do trabalhador.</p>
                <p class="mb-4">Então, vou ser breve. Fiz esse projeto com um objetivo desafiador:</p>
                <h2 class="text-2xl font-semibold mb-4">"Quero abolir o sentimento de esquecimento do brasileiro."</h2>
                <p class="mb-4">Eu quero ajudar a lembrar o trabalhador de como ele é forte nas relações de poder neste país. Quero oferecer um espaço seguro para que o brasileiro possa dar seus depoimentos sem preocupações com sua segurança. Quero que ele desenvolva um sentimento de coletividade.</p>
                <p class="mb-4">Por esse motivo, desenvolvi este projeto. Estou começando com o tema da escala 6x1 e das casas de apostas, pois são os mais urgentes de serem resolvidos. O primeiro afeta o bolso do trabalhador, e o outro afeta a vida.</p>
                <p class="mb-4">Não há mais o que explicar, é simples. Acredito que os depoimentos são formas de inspirar as pessoas a olharem para suas próprias histórias e desenvolverem coragem e determinação para executar mudanças possíveis.</p>
                <p class="mb-4">Se você leu até aqui e ainda não deu seu depoimento, volte e compartilhe sua história de forma anônima. Você não precisa falar seu nome ou fornecer nenhum dado sensível. Basta seguir as recomendações do vídeo.</p>
                <p class="mb-4">Se você já deu seu depoimento, agradeço pela força e pela coragem de contar sua história. Você está ajudando este projeto a alcançar mais pessoas. Com mais depoimentos, vamos mostrar que somos muito mais do que eles pensam.</p>
                <h2 class="text-2xl font-semibold mb-4">"Sofrimento é para ser superado e não esquecido!"</h2>
                <p class="mb-4">Uni-vos</p>
            </article>
        </div>
        
    </section>
    
    
</main>
<!--Rodapé-->
<footer class="bg-[#000] text-white flex-col text-center bottom-0 w-full">
    © 2025 Muralize. Todos os direitos reservados.
</footer>

{% endblock %}