<div class="">
    <img src="" alt="">
    <h1 class="text-2xl">Exemplo - 6 X 1</h1>
    <p class="text-sm text-[#b2b2b2]">Estado - Idade - Genero</p>
    <div class="bg-[#e3e3e3] mx-4 my-4">
        <p class="truncate w-64 md:w-auto">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies nisi at eros pretium, pellentesque facilisis dui ornare. 
            Nam et scelerisque eros, hendrerit tristique mi. Suspendisse potenti. Proin convallis arcu massa, vel pharetra nunc tempor eget. 
            Cras ultrices nec elit vel scelerisque. Vivamus et turpis rhoncus, semper dolor sit amet, commodo odio. 
            Quisque id ante cursus, congue lorem et, interdum ante. Curabitur dignissim leo quis rhoncus facilisis. 
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed lobortis erat sit amet aliquet fermentum.
        </p>
    </div>
    <div class="flex items-center gap-6">
        <button class="bg-[#a6c1ee] text-white px-5 py-2 rounded-full hover:bg-[#87acec]" onclick="openModal()" >Ver Mais</button>
        
    </div>
    
    <dialog id="textModal" class="rounded-lg p-6 w-1/2 max-w-lg bg-white shadow-lg">
        <h2 class="text-xl font-bold mb-4">Texto Completo</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ultricies nisi at eros pretium, pellentesque facilisis dui ornare. 
            Nam et scelerisque eros, hendrerit tristique mi. Suspendisse potenti. Proin convallis arcu massa, vel pharetra nunc tempor eget. 
            Cras ultrices nec elit vel scelerisque. Vivamus et turpis rhoncus, semper dolor sit amet, commodo odio. 
            Quisque id ante cursus, congue lorem et, interdum ante. Curabitur dignissim leo quis rhoncus facilisis. 
            Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed lobortis erat sit amet aliquet fermentum.
        </p>
        <button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" onclick="closeModal()">
            Fechar
        </button>
    </dialog>
</div>